SANDBOX/services/employees_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="employees"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="employeesOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="employeesOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="employeesOperationRequest">
		<wsdl:part name="parameters" element="tns:employeesOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="employeesOperationResponse">
		<wsdl:part name="parameters" element="tns:employeesOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="employeesPortType">
		<wsdl:operation name="employeesOperation">
			<wsdl:input message="tns:employeesOperationRequest"></wsdl:input>
			<wsdl:output message="tns:employeesOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="employeesBinding" type="tns:employeesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="employeesOperation">
			<soap:operation soapAction="http://www.talend.org/service/employeesOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="employees">
		<wsdl:port name="employeesPort" binding="tns:employeesBinding">
			<soap:address location="http://localhost:8090/services/employees" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>